*{
    margin:0px;
    padding:0px;
    /* font-family: monospace; */
}
body{
    background-color:rgb(234, 232, 232);
}
img {
    margin-bottom:5px;
}
ul{
    list-style:none;
    background:darkblue;
    text-align:center;
}
ul li{
    display: inline-block;
    position:relative;
}
ul li a.menu{
    display:block;
    text-decoration:none;
    padding: 10px 25px;
    font-size:20px;
    color:white;
}

ul li ul.dropdown li{
    display:block;
}
ul li ul.dropdown{
    width:100%;
    position:absolute;
    background-color:white;
    display:none;
}
ul li a:hover{
  background-color:lightgreen;
}
ul li:hover ul.dropdown{
    display:block;
}
/* dropdown list 2*/
ul li ul.dropdown2 li{
    display:block;
}
ul li ul.dropdown2{
    width:100%;
    background-color:white;
    position: absolute;
    display:none;
}
ul li:hover ul.dropdown2{
    display:block;
}
ul li.list a{
    display:block;
    text-decoration:none;
   font-size:15px; 
   text-align:left;
  color:black;
  padding:10px;
}
ul li a.longl{
text-decoration:none;
color:white;
font-size:20px;
padding: 10px 120px;
display:block;

}




/*This for span text color*/
span.colortext1{
    color:blue;
    font-style:italic;
}
span.colortext2{
 color:red;
 font-style:italic;   
}
/* this is paragraph */
#paragraph1{
    margin:25px;
    padding:5px 60px;
}


div#footer{
    text-align:center;
background-color:darkblue;
padding-top:1px;
padding-bottom:12px;
}
#uclogo{
    margin-top:1px;
    margin-left: -210px;
}
#cp{
    margin-top:-40px;
    margin-left:220px;
    color:white;
}